/* addpost.css */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70rem;
}

.form-container {
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    /* Increase the max-width of the form */
    margin: 20px auto;
    text-align: center;
}

.page-title {
    font-size: 2.5em;
    /* Increase the font size */
    text-align: center;
    margin-bottom: 1em;
}

.form-container .ant-form-item {
    margin-bottom: 24px;
}

.form-container .ant-btn {
    width: 120px;
    font-size: 16px;
    /* Increase the font size of the button */
}

@media (max-width: 991px) {
    .form-container {
        padding: 20px;
    }

    .page-title {
        font-size: 2em;
        /* Decrease font size for smaller screens */
    }
}

@media (min-width: 768px) {
    .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-row .form-group {
        width: 48%;
        /* Adjust for margin */
        display: flex;
        justify-content: space-between;
    }

    .form-row .form-item {
        width: 100%;
        margin-bottom: 24px;
    }

    /* Ensure the URL Tag and Description fields take full width */
    .form-row .form-item:nth-child(5),
    .form-row .form-item:nth-child(6) {
        width: 100%;
        margin-right: 0;
    }

    .form-container .ant-input::placeholder,
    .form-container .ant-select-selector::placeholder,
    .form-container .ant-input-textarea::placeholder {
        font-size: 16px;
        /* Increase the placeholder font size */
    }

    .form-container .ant-input-textarea {
        font-size: 18px;
        /* Increase the input textarea font size */
    }
}