.marquee {
    overflow: hidden;
    margin: 0;
    height: 30px;
    min-width: 100%;
    background: rgb(228, 93, 4);
    background: linear-gradient(90deg,
            rgba(228, 93, 4, 1) 0%,
            rgba(252, 184, 84, 1) 75%,
            rgba(255, 121, 78, 1) 100%);
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.marquee div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200%;
    height: 15px;
    font-family: "Noto Sans JP", sans-serif;
    position: absolute;
    overflow: hidden;
    color: whitesmoke;
    animation: marquee 30s linear infinite;
    font-weight: 300;
    padding: 8px 8px;
    white-space: nowrap;
}

.marquee span {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}